<header>
  <h1>Send Reset Email</h1>
</header>
<main>
  <%= form_with url: password_resets_path, method: :post do |f| %>
    <div class="mb-3">
      <%= f.label :email, "email", class: "form-label" %>
      <%= f.text_field :email, class: "form-control", placeholder: "example@mail.com" %>
    </div>
      <%= f.submit "Reset", class: "btn btn-primary" %>
  <% end %>
</main>
